<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>NEW_FRAME</display-name>
	<!-- 初始化 -->
	<!-- 部分数据的缓存时间，如权限控制 无需实时 1分钟内可以从缓存获取 -->
	<context-param>
		<param-name>CACHE</param-name>
		<param-value>60</param-value>
	</context-param>
	<!-- 线程池配置 --> 
 	<!-- 线程池维护线程的最少数量 -->
 	<context-param>
		<param-name>corePoolSize</param-name>
		<param-value>60</param-value>
	</context-param> 
	<!-- 允许的空闲时间 -->
	<context-param>
		<param-name>keepAliveSeconds</param-name>
		<param-value>60</param-value>
	</context-param> 
	<!-- 线程池维护线程的最大数量 -->
	<context-param>
		<param-name>maxPoolSize</param-name>
		<param-value>60</param-value>
	</context-param>    
	<!-- 缓存队列 -->
	<context-param>
		<param-name>queueCapacity</param-name>
		<param-value>60</param-value>
	</context-param>
	
	<!-- quartz -->
	<context-param>
         <param-name>quartz:config-file</param-name>
         <param-value>/quartz.properties</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:shutdown-on-unload</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:wait-on-shutdown</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:start-scheduler-on-load</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:start-delay-seconds</param-name>
         <param-value>1</param-value>
     </context-param>
	 
	<context-param>
		<param-name>configClass</param-name>
		<param-value>com.ram.server.jfinal.MConfig</param-value>
	</context-param>
	<listener>
		<listener-class>com.ram.server.filter.EmContentListener</listener-class>
	</listener>
	<!-- 自定义错误内容显示 -->
	<context-param>
		<param-name>ERRINT</param-name>
		<param-value>INCLUDE_FRONT,INCLUDE_END,DELIMITER_STATEMENT_START,DELIMITER_STATEMENT_END</param-value>
	</context-param>
	<context-param>
		<param-name>ERR</param-name>
		<param-value><![CDATA[
		/uview/include_front.html,/uview/include_end.html,<%,%>]]></param-value>
	</context-param>
	<context-param>
		<param-name>ERRORCODE</param-name>
		<param-value>999,1,110,600,440,405,400,500,510,410,404,100,403</param-value>
	</context-param>
	<context-param>
		<param-name>ERRORPAGE</param-name>
		<param-value>N,/uview/Login.html,/uview/110.html,/uview/600.html,/uview/err.html,/uview/405.html,/uview/err.html,/uview/errjson.html,/uview/510.html,/uview/errjson.html,/uview/nofoundpage.html,/uview/successjson.html,/uview/err.html</param-value>
	</context-param>
	  
	<!-- 统一编码 -->
	<filter>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>com.ram.server.filter.CharsetEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 
	<filter>
		<filter-name>jfinal</filter-name>
		<filter-class>com.jfinal.core.JFinalExtFilter</filter-class>
		<init-param>
			<param-name>configClass</param-name>
			<param-value>com.ram.server.jfinal.AppConfig</param-value>
		</init-param>
		<init-param>
			<param-name>RESULT</param-name>
			<param-value>/assets/forbidden.html</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jfinal</filter-name>
		<url-pattern>/view/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>jfinal</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>jfinal</filter-name>
		<url-pattern>/uview/page/*</url-pattern>
	</filter-mapping>
	 
	<error-page>
		<error-code>404</error-code>
		<location>/assets/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/assets/500.html</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>start.html</welcome-file>
	</welcome-file-list>
</web-app>